openapi: 3.0.0
info:
  version: '1'
  title: ''
  description: ''
paths: {}
components:
  securitySchemes: {}
  schemas:
    Catalog:
      required: [id]
      properties:
        id:
          type: integer
        isActive:
          type: boolean
        catalogName:
          type: string
          maxLength: 200
    Product:
      required: [id, productName, productDescription, active, catalogId]
      properties:
        id:
          type: integer
        productName:
          type: string
          maxLength: 200
        productDescription:
          type: string
          maxLength: 500
        active:
          type: boolean
        catalogId:
          $ref: '#/components/schemas/Catalog'

    Item:
      required: [id, type]
      properties:
        id:
          type: integer
        itemType:
          type: string
          enum:
            - 'MEMBERSHIP'
            - 'PAID_CLASS'
            - 'DONATION'
            - 'DAMAGE_WAIVER'
            - 'GUEST_PRIVS'
            - 'PRODUCT'
        classTypeId:
          $ref: '#/components/schemas/Balance'
        membershipTypeId:
          $ref: '#/components/schemas/MembershipType'
        productId:
          $ref: '#/components/schemas/Product'
        itemName:
          type: string
          maxLength: 200
        itemDescription:
          type: string
          maxLength: 500
        imageURL:
          type: string
          maxLength: 200
        itemPriceCents:
          type: integer
        catalogId:
          $ref: '#/components/schemas/Catalog'

    ItemCategory:
      required: [id, item, category]
      properties:
        id:
          type: integer
        item:
          $ref: '#/components/schemas/Item'
        category:
          $ref: '#/components/schemas/Category'

    Category:
      required: [id, categoryName, description, catalogId]
      properties:
        id:
          type: integer
        categoryName:
          type: string
          maxLength: 200
        description:
          type: string
          maxLength: 500
        catalogId:
          $ref: '#/components/schemas/Catalog'

    ItemInstance:
      required: [id, itemId, isActive]
      properties:
        id:
          type: integer
        itemId:
          $ref: '#/components/schemas/Item'
        priceCents:
          type: integer
        isActive:
          type: boolean

    OrderItem:
      required: [id, orderId, itemInstanceId, itemPriceCents]
      properties:
        id:
          type: integer
        orderId:
          $ref: '#/components/schemas/OrderNumber'
        itemInstanceId:
          $ref: '#/components/schemas/ItemInstance'
        subscriptionId:
          $ref: '#/components/schemas/PersonSubscription'
        itemPriceCents:
          type: integer

    ItemTax:
      required: [id, itemId, taxId]
      properties:
        id:
          type: integer
        itemId:
          $ref: '#/components/schemas/Item'
        taxId:
          $ref: '#/components/schemas/Tax'

    Tax:
      required: [id, taxName, taxRate, taxMinValueCents, catalogId]
      properties:
        id:
          type: integer
        taxName:
          type: string
          maxLength: 200
        taxCode:
          type: string
          maxLength: 500
        taxRate:
          type: string
          maxLength: 200
        taxMinValueCents:
          type: integer
        catalogId:
          $ref: '#/components/schemas/Catalog'

    OrderTax:
      required: [id, tax, order]
      properties:
        id:
          type: integer
        tax:
          $ref: '#/components/schemas/Tax'
        order:
          $ref: '#/components/schemas/OrderNumber'

    OrderItemDiscountInstance:
      required: [id, orderItemId, discountInstanceId, discountAmountCents]
      properties:
        id:
          type: string
        orderItemId:
          $ref: '#/components/schemas/OrderItem'
        discountInstanceId:
          $ref: '#/components/schemas/DiscountInstance'
        discountAmountCents:
          type: integer

    ItemDiscount:
      required: [id, itemId, discountInstanceId]
      properties:
        id:
          type: integer
        itemId:
          $ref: '#/components/schemas/Item'
        discountInstanceId:
          $ref: '#/components/schemas/DiscountInstance'

    OrderPayment:
      required: [id, orderId, paymentType, paymentAmountCents, paymentStatus]
      properties:
        id:
          type: integer
        orderId:
          $ref: '#/components/schemas/OrderNumber'
        paymentType:
          type: string
          maxLength: 50
        paymentAmountCents:
          type: integer
        paymentStatus:
          type: string
          maxLength: 50
        paymentDueDate:
          type: string
          format: date-time

    BalanceTransaction:
      required: [id, balanceId, transactionAmountCents]
      properties:
        id:
          type: integer
        balanceId:
          $ref: '#/components/schemas/Balance'
        paymentId:
          $ref: '#/components/schemas/OrderPayment'
        transactionAmountCents:
          type: integer

    Balance:
      required: [id, balanceCents, balanceSource, balanceType]
      properties:
        id:
          type: integer
        balanceAccountNumber:
          type: string
        balanceCents:
          type: integer
        balanceSource:
          type: string
          maxLength: 20
        balanceType:
          type: string
          maxLength: 20
        balanceOwner:
          $ref: '#/components/schemas/Person'

    StripeTransaction:
      required: [id, stripePaymentIntent, transactionAmountCents]
      properties:
        id:
          type: integer
        stripePaymentIntent:
          type: string
          maxLength: 500
        transactionAmountCents:
          type: integer
        paymentId:
          $ref: '#/components/schemas/OrderPayment'

    CashTransaction:
      required: [id, cashDrawerId, transactionAmountCents]
      properties:
        id:
          type: integer
        cashDrawerId:
          $ref: '#/components/schemas/CashDrawer'
        transactionAmountCents:
          type: string
        paymentId:
          $ref: '#/components/schemas/OrderPayment'
        cashDrawerChangeId:
          $ref: '#/components/schemas/CashDrawersChange'

    CashDrawersChange:
      required: [id, changeType, changeAmountCents]
      properties:
        id:
          type: integer
        changeType:
          type: string
          maxLength: 50
        changeAmountCents:
          type: integer

    ClassType:
      required: [id]
      properties:
        id:
          type: integer

    PersonSubscription:
      required: [id, personId, subscriptionId, billingCycle]
      properties:
        id:
          type: integer
        personId:
          $ref: '#/components/schemas/Person'
        subscriptionId:
          $ref: '#/components/schemas/Subscription'
        billingDate:
          type: string
          format: date
        billingCycle:
          type: string
          maxLength: 50

    Subscription:
      required: [id, name, billingCycle]
      properties:
        id:
          type: integer
        name:
          type: string
          maxLength: 200
        billingCycle:
          type: string
          maxLength: 50

    SubscriptionItem:
      required: [id, subscriptionId, itemId]
      properties:
        id:
          type: integer
        subscriptionId:
          $ref: '#/components/schemas/Subscription'
        itemId:
          $ref: '#/components/schemas/Item'
        cyclePriceOverrideCents:
          type: integer

    OrderNumber:
      required: [id]
      properties:
        id:
          type: integer

    MembershipType:
      required: [id]
      properties:
        id:
          type: integer

    Person:
      required: [id]
      properties:
        id:
          type: integer

    DiscountInstance:
      required: [id]
      properties:
        id:
          type: integer

    Discount:
      required: [id]
      properties:
        id:
          type: integer

    CashDrawer:
      required: [id]
      properties:
        id:
          type: integer