openapi: 3.0.0
info:
  version: '1'
  title: ''
  description: ''
paths: {}
components:
  securitySchemes: {}
  schemas:
    Products:
      properties:
        ProductId:
          nullable: false
          type: number
        ProductName:
          nullable: false
          type: string
        Active:
          nullable: false
          type: boolean
    Items:
      properties:
        ItemId:
          nullable: false
          type: number
        Type:
          nullable: false
          type: string
        MembershipTypeId:
          nullable: false
          $ref: '#/components/schemas/MembershipTypes'
        ProductId:
          nullable: false
          $ref: '#/components/schemas/Products'
        IsGuestPriv:
          nullable: false
          type: boolean
        IsDamageWaiver:
          nullable: false
          type: boolean
    ItemCategories:
      properties:
        CategoryId:
          nullable: false
          type: string
        ItemId:
          nullable: false
          type: string
    Categories:
      properties:
        CategoryId:
          nullable: false
          type: number
        CategoryName:
          nullable: false
          type: string
    ItemInstances:
      properties:
        InstanceId:
          nullable: false
          type: integer
        ItemId:
          nullable: false
          $ref: '#/components/schemas/Items'
        PriceCents:
          nullable: true
          type: number
        IsActive:
          nullable: false
          type: boolean
    OrderItems:
      properties:
        OrderItemId:
          nullable: false
          type: number
        OrderId:
          nullable: false
          $ref: '#/components/schemas/OrderNumbers'
        ItemInstanceId:
          nullable: false
          $ref: '#/components/schemas/ItemInstances'
        ItemPriceCents:
          nullable: false
          type: integer
    ItemTaxes:
      properties:
        ItemTaxId:
          nullable: false
          type: integer
        ItemId:
          nullable: false
          $ref: '#/components/schemas/Items'
        TaxId:
          nullable: false
          $ref: '#/components/schemas/Taxes'
    Taxes:
      properties:
        TaxId:
          nullable: false
          type: integer
        TaxName:
          nullable: false
          type: string
        TaxRate:
          nullable: false
          type: number
        TaxMinValueCents:
          nullable: false
          type: integer
    OrderTaxes:
      properties: {}
    OrderDiscounts:
      properties:
        OrderDiscountId:
          nullable: false
          type: string
        OrderItemId:
          nullable: false
          $ref: '#/components/schemas/OrderItems'
        DiscountInstanceId:
          nullable: false
          $ref: '#/components/schemas/DiscountInstances'
        DiscountAmountCents:
          nullable: false
          type: integer
    ItemDiscounts:
      properties:
        ItemDiscountId:
          nullable: false
          type: integer
        ItemId:
          nullable: false
          $ref: '#/components/schemas/Items'
        DiscountInstanceId:
          nullable: false
          type: string
    OrderPayments:
      properties:
        OrderPaymentId:
          nullable: false
          type: integer
        OrderId:
          nullable: false
          $ref: '#/components/schemas/OrderNumbers'
        PaymentType:
          nullable: false
          type: string
        PaymentAmount:
          nullable: false
          type: string
        PaymentStatus:
          nullable: false
          type: string
    BalancesTransactions:
      properties:
        BalanceTransactionId:
          nullable: false
          type: integer
        BalanceId:
          nullable: false
          $ref: '#/components/schemas/Balances'
        TransactionAmountCents:
          nullable: false
          type: integer
    Balances:
      properties:
        BalanceId:
          nullable: false
          type: integer
        BalanceAccountNumber:
          nullable: false
          type: string
        BalanceCents:
          nullable: false
          type: integer
        OwnerPersonId:
          nullable: false
          type: string
        BalanceSource:
          nullable: false
          type: string
    OrderNumbers:
      properties: {}
    MembershipTypes:
      properties: {}
    DiscountInstances:
      properties: {}
    StripeTransactions:
      properties:
        StripeTransactionId:
          nullable: false
          type: integer
        StripePaymentIntent:
          nullable: false
          type: string
        TransactionAmount:
          nullable: false
          type: string
    CashTransactions:
      properties:
        CashTransactionId:
          nullable: false
          type: integer
        CashDrawerId:
          nullable: false
          type: string
        TransactionAmountCents:
          nullable: false
          type: string
    CashDrawersChanges:
      properties:
        CashDrawerChangeId:
          nullable: false
          type: integer
        ChangeType:
          nullable: false
          type: string
        ChangeAmountCents:
          nullable: false
          type: string
        CashTransactionId:
          nullable: false
          type: string