openapi: 3.0.0
info:
  version: '1'
  title: ''
  description: ''
paths: {}
components:
  securitySchemes: {}
  schemas:
    Catalog:
      required: [id]
      properties:
        id:
          type: integer
        startActive:
          type: string
          format: date-time
        endActive:
          type: string
          format: date-time
        catalogName:
          type: string
          maxLength: 200
    Product:
      required: [id, productName, productDescription, active, catalogId]
      properties:
        id:
          type: integer
        productName:
          type: string
          maxLength: 200
        productDescription:
          type: string
          maxLength: 500
        active:
          type: boolean
        catalogId:
          $ref: '#/components/schemas/Catalog'

    Item:
      required: [id, type]
      properties:
        id:
          type: integer
        itemType:
          $ref: './shared.yaml#/components/schemas/ItemType'
        classTypeId:
          $ref: '#/components/schemas/ClassType'
        membershipTypeId:
          $ref: '#/components/schemas/MembershipType'
        productId:
          $ref: '#/components/schemas/Product'
        itemName:
          type: string
          maxLength: 200
        itemDescription:
          type: string
          maxLength: 500
        imageURL:
          type: string
          maxLength: 200
        minQuantity:
          type: integer
        maxQuantity:
          type: integer
        allowPriceOverride:
          type: boolean
        catalogId:
          $ref: '#/components/schemas/Catalog'

    ItemCategory:
      required: [id, item, categoryId]
      properties:
        id:
          type: integer
        item:
          $ref: '#/components/schemas/Item'
        categoryId:
          $ref: '#/components/schemas/Category'

    Category:
      required: [id, categoryName, description, catalogId]
      properties:
        id:
          type: integer
        categoryName:
          type: string
          maxLength: 200
        description:
          type: string
          maxLength: 500
        catalogId:
          $ref: '#/components/schemas/Catalog'

    ItemInstance:
      required: [id, itemId]
      properties:
        id:
          type: integer
        itemId:
          $ref: '#/components/schemas/Item'
        priceCents:
          type: integer
        startActive:
          type: string
          format: date-time
        endActive:
          type: string
          format: date-time
    
    ItemInstanceStockChange:
      required: [itemInstanceId, changeAmount]
      properties:
        id:
          type: integer
        itemInstanceId:
          $ref: '#/components/schemas/ItemInstance'
        lineItem:
          $ref: '#/components/schemas/LineItem'
        changeAmount:
          type: integer
        changeType:
          $ref: './shared.yaml#/components/schemas/StockChangeType'
        purchasableState:
          $ref: './shared.yaml#/components/schemas/PurchasableState'

    LineItem:
      required: [id, orderId, itemInstanceId, itemPriceCents]
      properties:
        id:
          type: integer
        parentItemId:
          $ref: '#/components/schemas/LineItem'
        orderId:
          $ref: '#/components/schemas/OrderNew'
        itemInstanceId:
          $ref: '#/components/schemas/ItemInstance'
        subscriptionId:
          $ref: '#/components/schemas/PersonSubscription'
        amountSpecifiedCents:
          type: integer
        amountBaseCents:
          type: integer
        amountAfterDiscountCents:
          type: integer
          

    ItemTax:
      required: [id, itemId, taxId]
      properties:
        id:
          type: integer
        itemId:
          $ref: '#/components/schemas/Item'
        taxId:
          $ref: '#/components/schemas/Tax'

    Tax:
      required: [id, taxName, taxRate, taxMinValueCents, catalogId]
      properties:
        id:
          type: integer
        taxName:
          type: string
          maxLength: 200
        taxCode:
          type: string
          maxLength: 500
        taxRate:
          type: string
          maxLength: 200
        taxMinValueCents:
          type: integer
        taxBeforeDiscount:
          type: boolean
        catalogId:
          $ref: '#/components/schemas/Catalog'

    OrderTax:
      required: [id, tax, order]
      properties:
        id:
          type: integer
        taxId:
          $ref: '#/components/schemas/Tax'
        order:
          $ref: '#/components/schemas/OrderNew'
        calculatedCents:
          type: integer

    LineItemDiscountInstance:
      required: [id, lineItemId, discountInstanceId, discountType]
      properties:
        id:
          type: integer
        lineItemId:
          $ref: '#/components/schemas/LineItem'
        discountInstanceId:
          $ref: '#/components/schemas/DiscountInstance'
        discountType:
          $ref: './shared.yaml#/components/schemas/DiscountType'
        specifiedCents:
          type: integer
        specifiedPercent:
          type: string
        calculatedCents:
          type: integer

    OrderNew:
      type: object
      required: [orderId, status]
      properties:
        id:
          type: integer
        orderAmountPaid:
          type: integer
        orderStatus:
          $ref: './shared.yaml#/components/schemas/OrderStatusNew'
        personId:
          $ref: '#/components/schemas/Person'

    ItemDiscount:
      required: [id, itemId, discountId]
      properties:
        id:
          type: integer
        itemId:
          $ref: '#/components/schemas/Item'
        discountType:
          $ref: './shared.yaml#/components/schemas/DiscountType'
        amountCents:
          type: integer
        percent:
          type: string
        discountId:
          $ref: '#/components/schemas/Discount'

    OrderPayment:
      required: [id, orderId, paymentType, paymentSource, paymentAmountCents, paymentStatus]
      properties:
        id:
          type: integer
        orderId:
          $ref: '#/components/schemas/OrderNew'
        paymentType:
          $ref: './shared.yaml#/components/schemas/PaymentType'
        paymentSource:
          type: string
          maxLength: 100
        paymentAmountCents:
          type: integer
        paymentStatus:
          $ref: './shared.yaml#/components/schemas/PaymentStatus'
        paymentDueDate:
          type: string
          format: date-time

    BalanceTransaction:
      required: [id, balanceId, transactionAmountCents]
      properties:
        id:
          type: integer
        balanceId:
          $ref: '#/components/schemas/Balance'
        balanceTransactionType:
          $ref: './shared.yaml#/components/schemas/BalanceTransactionType'
        paymentId:
          $ref: '#/components/schemas/OrderPayment'
        transactionAmountCents:
          type: integer
        purchasableState:
          $ref: './shared.yaml#/components/schemas/PurchasableState'
        lineItemId:
          $ref: '#/components/schemas/LineItem'

    Balance:
      required: [id, balanceCents, balanceType]
      properties:
        id:
          type: integer
        balanceAccountNumber:
          type: string
        balanceAccountToken:
          readOnly: true
          type: string
          maxLength: 64
          minLength: 64
        balanceCents:
          type: integer
        balanceType:
          $ref: './shared.yaml#/components/schemas/BalanceType'
        balanceOwner:
          $ref: '#/components/schemas/Person'

    StripeTransaction:
      required: [id, stripePaymentIntent, transactionAmountCents]
      properties:
        id:
          type: integer
        transactionType:
          $ref: './shared.yaml#/components/schemas/StripeTransactionType'
        stripePaymentIntent:
          type: string
          maxLength: 500
        transactionAmountCents:
          type: integer
        paymentId:
          $ref: '#/components/schemas/OrderPayment'

    CashTransaction:
      required: [id, cashDrawerId, transactionAmountCents]
      properties:
        id:
          type: integer
        cashDrawerId:
          $ref: '#/components/schemas/CashDrawer'
        transactionAmountCents:
          type: string
        paymentId:
          $ref: '#/components/schemas/OrderPayment'
        cashDrawerChangeId:
          $ref: '#/components/schemas/CashDrawersChange'

    CashDrawersChange:
      required: [id, changeType, changeAmountCents]
      properties:
        id:
          type: integer
        changeType:
          type: string
          maxLength: 50
        changeAmountCents:
          type: integer

    ClassType:
      x-already-exists: true
      required: [id]
      properties:
        id:
          type: integer

    PersonSubscription:
      required: [id, personId, subscriptionId, billingCycle]
      properties:
        id:
          type: integer
        personId:
          $ref: '#/components/schemas/Person'
        subscriptionId:
          $ref: '#/components/schemas/Subscription'
        billingDate:
          type: string
          format: date
        billingCycle:
          type: string
          maxLength: 50

    Subscription:
      required: [id, name, billingCycle]
      properties:
        id:
          type: integer
          format: long
        name:
          type: string
          maxLength: 200
        billingCycle:
          type: string
          maxLength: 50

    SubscriptionItem:
      required: [id, subscriptionId, itemId]
      properties:
        id:
          type: integer
          format: long
        subscriptionId:
          $ref: '#/components/schemas/Subscription'
        itemId:
          $ref: '#/components/schemas/Item'
        cyclePriceOverrideCents:
          type: integer

    MembershipType:
      x-already-exists: true
      required: [id]
      properties:
        id:
          type: integer

    Person:
      x-already-exists: true
      required: [id]
      properties:
        id:
          type: integer

    DiscountInstance:
      x-already-exists: true
      required: [id]
      properties:
        id:
          type: integer

    Discount:
      x-already-exists: true
      required: [id]
      properties:
        id:
          type: integer

    CashDrawer:
      x-already-exists: true
      required: [cashDrawerId]
      properties:
        cashDrawerId:
          type: integer