openapi: 3.0.3
info:
  title: Simple API with JWT Auth
  version: 1.0.0
  description: A minimal OpenAPI spec with JWT authentication and simple models.

servers:
  - url: https://api.example.com

paths:
  /login:
    post:
      summary: User login
      description: Returns a JWT token on successful login.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Successful login
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401':
          description: Invalid credentials

  /users/me/{id}/{test}:
    get:
      summary: Get current user
      description: Returns the details of the currently authenticated user.
      security:
        - staff: []
      parameters:
        - in: path
          name: id # Note the name is the same as in the path
          required: true
          schema:
            type: integer
            minimum: 1
          description: The user ID
        - in: path
          name: test # Note the name is the same as in the path
          required: true
          schema:
            type: integer
            minimum: 1
          description: Test
      responses:
        '200':
          description: User details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserTest'
        '401':
          description: Unauthorized
  /member/getNoParams:
    get:
      summary: Test
      description: Tests Post.
      responses:
        '200':
          description: All good
          content: 
            application/json:
              schema:
                $ref: '#/components/schemas/Boolean'
  /member/test:
    post:
      summary: Test
      description: Tests Post.
      security:
        - member: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestRequest'
      responses:
        '200':
          description: Successful login
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestResponse'
        '401':
          description: Invalid credentials

  /ap-class/get-eligible:
    get:
      summary: Get eligible classes
      description: Gets eligible class information for the supplied person_id
      security:
        - member: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonId'
      responses:
        '200':
          description: Successfully fetched classes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APEligibleClass'
        '204' :
          description: No classes to show
        '401' :
          description: Invalid credentials
        '403' :
          description: Invalid permissions

  /ap-class/get-future:
    get:
      x-serve-example: true
      summary: Get eligible classes
      description: Gets eligible class information for the supplied person_id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonId'
      responses:
        '200':
          description: Successfully fetched classes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APFutureClass'
        '204' :
          description: No classes to show
        '401' :
          description: Invalid credentials
        '403' :
          description: Invalid permissions

  /ap-class/enroll/{id}: #EVAN TEST CODE; AUDIT THOROUGHLY
    post:
      parameters:
        - in: path
          name: id # Note the name is the same as in the path
          required: true
          schema:
            type: integer
            minimum: 1
          description: The class id
      x-serve-example: false
      summary: Enroll person into class
      description: Posts person_id and class_instance_id
      security:
        - member: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/APClassEnroll'
      responses:
        '202':
          description: TEST OK




components:
  securitySchemes:
    staff:
      type: http
      scheme: bearer
      bearerFormat: JWT
    member:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    LoginRequest:
      type: object
      required:
        - username
        - password
      properties:
        username:
          type: string
          example: user@example.com
        password:
          type: string
          format: password
          example: mysecurepassword
          maxLength: 69
        test:
          type: string
          format: password
          example: mysecurepassword

    LoginResponse:
      type: object
      properties:
        token:
          type: string
          description: JWT token
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...

    PersonId:
      type: object
      properties:
        personId:
          type: integer
          example: 192535
    UserTest:
      type: object
      properties:
        id:
          type: integer
          example: 1
        username:
          type: string
          example: user@example.com
        fullName:
          type: string
          example: John Doe
    TestRequest:
      type: object
      properties:
        derply:
          type: integer
          example: 1
        capacity:
          type: string
        dateTestReq:
          type: string
          format: date
        dateTimeTestReq:
          type: string
          format: date-time
    TestResponse:
      type: object
      properties:
        internalDiameter:
          type: integer
          example: 1
        dateTest:
          type: string
          format: date
        dateTimeTest:
          type: string
          format: date-time
    APEligibleClass:
      type: object
      properties:
        instanceId:
          type: integer
          example: 117
        typeName:
          type: string
          example: Intermediate 2
        sessionCount:
          type: integer
          example: 2
        sessionDates:
          type: array
          example: [01-APR-2010, 02-APR-2010]
          items:
            type: string
            format: date
        signupsAvailable:
          type: boolean
          example: T
        nextSignupsOpen:
          type: string
          format: date-time
        nextSignupsCount:
          type: integer
          example: 10
        instructor:
          type: string
          example: Joe L.
        location:
          type: string
          example: Dockhouse 
        booleanEnumTest:
          $ref: '#/components/schemas/Boolean'
          example: 'T'
    APFutureClass:
      type: object
      properties:
        enumTest:
          $ref: "#/components/schemas/EnumTest"
          example: 'A'
        instanceId:
          type: integer
          example: 117
        typeName:
          type: string
          example: Intermediate 2
        sessionCount:
          type: integer
          example: 2
        sessionDates:
          type: array
          example: [01-APR-2010, 02-APR-2010]
          items:
            type: string
            format: date
        signupsAvailable:
          type: boolean
          example: T
        nextSignupsOpen:
          type: string
          format: date-time
        nextSignupsCount:
          type: integer
          example: 10
        instructor:
          type: string
          example: Joe L.
        location:
          type: string
          example: Dockhouse 
    APClassEnroll:
      type: object
      properties:
        personId:
          type: integer
          example: 192535
        instanceId:
          type: integer
          example: 117
    EnumTest:
      type: string
      enum:
        - A
        - B
        - C
        - D
    Boolean:
      type: string
      enum:
        - T
        - F