openapi: 3.0.0
info:
  version: '1'
  title: ''
  description: ''
paths: {}
components:
  securitySchemes: {}
  schemas:
    Product:
      properties:
        id:
          nullable: false
          type: integer
        productName:
          nullable: false
          type: string
        active:
          nullable: false
          type: boolean
    Item:
      properties:
        id:
          nullable: false
          type: integer
        type:
          nullable: false
          type: string
        membershipTypeId:
          nullable: false
          $ref: '#/components/schemas/MembershipType'
        productId:
          nullable: false
          $ref: '#/components/schemas/Product'
        isGuestPriv:
          nullable: false
          type: boolean
        isDamageWaiver:
          nullable: false
          type: boolean
    ItemCategory:
      properties:
        id:
          nullable: false
          type: integer
        item:
          nullable: false
          $ref: '#/components/schemas/Item'
    Category:
      properties:
        id:
          nullable: false
          type: integer
        categoryName:
          nullable: false
          type: string
    ItemInstance:
      properties:
        id:
          nullable: false
          type: integer
        itemId:
          nullable: false
          $ref: '#/components/schemas/Item'
        priceCents:
          nullable: true
          type: integer
        isActive:
          nullable: false
          type: boolean
    OrderItem:
      properties:
        id:
          nullable: false
          type: integer
        orderId:
          nullable: false
          $ref: '#/components/schemas/OrderNumber'
        itemInstanceId:
          nullable: false
          $ref: '#/components/schemas/ItemInstance'
        itemPriceCents:
          nullable: false
          type: integer
    ItemTax:
      properties:
        id:
          nullable: false
          type: integer
        itemId:
          nullable: false
          $ref: '#/components/schemas/Item'
        taxId:
          nullable: false
          $ref: '#/components/schemas/Tax'
    Tax:
      properties:
        id:
          nullable: false
          type: integer
        taxName:
          nullable: false
          type: string
        taxRate:
          nullable: false
          type: number
          format: double
        taxMinValueCents:
          nullable: false
          type: integer
    OrderTax:
      properties:
        id:
          nullable: false
          type: integer
        tax:
          $ref: '#/components/schemas/Tax'
    OrderDiscount:
      properties:
        id:
          nullable: false
          type: string
        orderItemId:
          nullable: false
          $ref: '#/components/schemas/OrderItem'
        discountInstanceId:
          nullable: false
          $ref: '#/components/schemas/DiscountInstance'
        discountAmountCents:
          nullable: false
          type: integer
    ItemDiscount:
      properties:
        id:
          nullable: false
          type: integer
        itemId:
          nullable: false
          $ref: '#/components/schemas/Item'
        discountInstanceId:
          nullable: false
          type: string
    OrderPayment:
      properties:
        id:
          nullable: false
          type: integer
        orderId:
          nullable: false
          $ref: '#/components/schemas/OrderNumber'
        paymentType:
          nullable: false
          type: string
        paymentAmount:
          nullable: false
          type: string
        paymentStatus:
          nullable: false
          type: string
    BalanceTransaction:
      properties:
        id:
          nullable: false
          type: integer
        balanceId:
          nullable: false
          $ref: '#/components/schemas/Balance'
        transactionAmountCents:
          nullable: false
          type: integer
    Balance:
      properties:
        id:
          nullable: false
          type: integer
        balanceAccountNumber:
          nullable: false
          type: string
        balanceCents:
          nullable: false
          type: integer
        ownerPersonId:
          nullable: false
          type: string
        balanceSource:
          nullable: false
          type: string
        balancePerson:
          $ref: '#/components/schemas/Person'
    OrderNumber:
      properties: 
        id:
          nullable: false
          type: integer
    MembershipType:
      properties: 
        id:
          nullable: false
          type: integer
    Person:
      properties:
        id:
          nullable: false
          type: integer
    DiscountInstance:
      properties: 
        id:
          nullable: false
          type: integer
    StripeTransaction:
      properties:
        id:
          nullable: false
          type: integer
        stripePaymentIntent:
          nullable: false
          type: string
        transactionAmount:
          nullable: false
          type: string
    CashTransaction:
      properties:
        id:
          nullable: false
          type: integer
        cashDrawerId:
          nullable: false
          type: string
        transactionAmountCents:
          nullable: false
          type: string
    CashDrawersChange:
      properties:
        id:
          nullable: false
          type: integer
        changeType:
          nullable: false
          type: string
        changeAmountCents:
          nullable: false
          type: string
        cashTransactionId:
          nullable: false
          type: string