{{#models}}
    {{#model}}
        {{#interfaces}}
            {{this}}
        {{/interfaces}}
Model name: {{name}}
        {{#vendorExtensions}}
            {{#x-cbi-resource-info}}
                Resource Suffix: {{findResourceSuffix}}
                {{#relations}}
                    Relation: {{getRelationBaseName}}, Resource A: {{resourceA.model.classname}}, ResourceB: {{resourceB.model.classname}}, hasForward: {{meta.hasForward}}, hasBackward: {{meta.hasBackward}}
                {{/relations}}
                Has Resource: {{baseName}}
                {{#base}}
                    Base Resource: {{baseName}}
                {{/base}}
                {{#getHighestRelations}}
                    Relation Name: {{relationName}}
                {{/getHighestRelations}}
                {{#findParentResource}}
                    Parent Resource: {{baseName}}
                {{/findParentResource}}
                {{#findChildResources}}
                    Child Resource: {{baseName}}
                {{/findChildResources}}
            {{/x-cbi-resource-info}}
            {{#x-model-meta}}
                MODEL META
{{>model-meta}}
            {{/x-model-meta}}
        {{/vendorExtensions}}
    Variables:
        {{#allVars}}
        Variable Name: {{name}}
            Is Required: {{required}}
            Is Read Only: {{isReadOnly}}
            Is Write Only: {{isWriteOnly}}
            Is Inherited: {{isInherited}}
            Is Overridden: {{isOverridden}}
            Default Value: {{defaultValue}}
            {{#vendorExtensions}}
                {{#x-cbi-column-info}}
                    COL INFO
                    {{#relation}}
                    Relation:
                        {{#superRelation}}
                            Super Relation: {{relationName}}
                        {{/superRelation}}
                        {{#subRelations}}
                            Sub Relation: {{relationName}}
                        {{/subRelations}}
                        Type: {{type}}
                        Base Name: {{getRelationBaseName}}
                        Name: {{relationName}}
                        Resource A: {{resourceA.baseName}}
                        Resource B: {{resourceB.baseName}}
                        Forward ref: {{^forwardRef}}null{{/forwardRef}}{{#forwardRef}}
{{> cbi-column}}{{/forwardRef}}
                        Back ref: {{^backRef}}null{{/backRef}}{{#backRef}}
{{> cbi-column}}{{/backRef}}
                    {{/relation}}
                {{/x-cbi-column-info}}
            {{/vendorExtensions}}
        {{/allVars}}
    {{/model}}
{{/models}}