{{#models}}
    {{#model}}
        Model name: {{name}}
        {{#vendorExtensions}}
            {{#x-cbi-resource-info}}
                {{^relations.isEmpty}}
                    Has relations:
                {{/relations.isEmpty}}
                {{#getRelations}}
                    {{{this}}}
                {{/getRelations}}
            {{/x-cbi-resource-info}}
        {{/vendorExtensions}}
        {{#allVars}}
            {{name}}
            {{#vendorExtensions}}
                {{{this}}}
            {{/vendorExtensions}}
        {{/allVars}}
    {{/model}}
{{/models}}