openapi: 3.0.0
info:
  version: '1'
  title: ''
  description: ''
paths:
  /member/test:
    post:
      summary: Test
      description: Tests Post.
      security:
        - member: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestRequest'
      responses:
        '200':
          description: Successful login
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestResponse'
        '401':
          description: Invalid credentials
components:
  securitySchemes: {}
  schemas:
    ValidationTestDTO:
      type: object
      properties:
        testA:
          type: string
          maxLength: 100
          minLength: 10
        testB:
          type: integer
          minimum: 1
          maximum: 25
        testC:
          type: string
          pattern: ^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$
    UserTest:
      type: object
      required: [id]
      properties:
        id:
          type: integer
          example: 1
        username:
          type: string
          example: user@example.com
        fullName:
          type: string
          example: John Doe
    TestRequest:
      type: object
      properties:
        derply:
          type: integer
          example: 1
        capacity:
          type: string
        dateTestReq:
          type: string
          format: date
        dateTimeTestReq:
          type: string
          format: date-time
    TestResponse:
      type: object
      properties:
        internalDiameter:
          type: integer
          example: 1
        dateTest:
          type: string
          format: date
        dateTimeTest:
          type: string
          format: date-time